.cards{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
}

.card-div{
    width: 70vw;
    height: 220px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: #3C3E44;
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow:#000000 0px 4px 6px -1px, #000006 0px 2px 4px -1px;
    max-width: 500px;
}

@media screen and (max-width: 540px) {
    .card-div{
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: fit-content;
    }
    img{
        width: 100%;
        height: auto;
    }
}



img{
height: 100%;
}

.info-div{
    height: 100%;
}

p{
    margin: 0;
}
h1{
    margin: 0%;
    font-size: calc(10px + 10vh);
}
